*{
  box-sizing: border-box;
}
.container{
        width : 100%;
        margin : 0 auto ;
      }
      .headers{
        height: 750px;
        background: url("bookstore.jpg") no-repeat;
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.7);
        background-size: cover;
        background-position: center;
        border-bottom: inset;
        border-color: white;
      }
      .headers h1{
        text-align : center;
        color: #fff;
        margin-top: 250px;
      }
      .headers h3{
        text-align : center;
        color: #fff;
        margin-top: 25px;
      }

      .cart{
        height: 750px;
        background: url("bookstore.jpg") no-repeat;
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.7);
        background-size: cover;
        background-position: center;
        border-bottom: inset;
        border-color: white;
      }
      .buku{
        height: auto;
        background: url("bookstore.jpg") no-repeat;
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.7);
        background-size: cover;
        background-position: center;
        border-bottom: inset;
        border-color: white;
      }
      .riwayat{
        height: auto;
        background: url("bookstore.jpg") no-repeat;
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.7);
        background-size: cover;
        background-position: center;
        border-bottom: inset;
        border-color: white;
      }
      .transaksi{
        height: auto;
        background: url("bookstore.jpg") no-repeat;
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.7);
        background-size: cover;
        background-position: center;
        border-bottom: inset;
        border-color: white;
      }
      .admin{
        height: 730px;
        background: url("bookstore.jpg") no-repeat;
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.7);
        background-size: cover;
        background-position: center;
        border-bottom: inset;
        border-color: white;
      }
      .customer{
        height: 730px;
        background: url("bookstore.jpg") no-repeat;
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.7);
        background-size: cover;
        background-position: center;
        border-bottom: inset;
        border-color: white;
      }
      .login{
        height: 750px;
        background: url("bookstore.jpg") no-repeat;
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.7);
        background-size: cover;
        background-position: center;
        border-bottom: inset;
        border-color: white;
        top: 100px;
      }
      .headers h4{
        text-align : center;
        color: #fff;
        margin-top: 250px;
      }
